html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem = 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid hsl(240, 5%, 91%);
    margin: 1em 0;
    padding: 0;
}

body {
    background: hsl(273, 75%, 66%);
    background: linear-gradient(180deg, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.image__container {
    grid-column: 1/2;
    align-items: center;
    position: relative;
}

.image {
    display: inline-block;
    position: absolute;
    top: -130px;
    left: 5%;
}

@media (min-width: 768px) {
    .image {
        top: -150px;
        left: -80px;
    }
}

.image__shadow {
    display: inline-block;
    position: absolute;
    top: -20px;
    left: 14%;
}

@media (min-width: 768px) {
    .image__shadow {
        top: -150px;
        left: -80px;
    }
}

.image__box {
    display: none;
}

@media (min-width: 768px) {
    .image__box {
        display: inline-block;
        position: absolute;
        top: 46%;
        left: 200px;
        z-index: 99;
    }
}

.card {
    padding: 2rem 0 2rem;
    background-color: white;
    width: 90%;
    min-height: 600px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 0 auto;
    align-items: center;
}

@media (min-width: 768px) {
    .card {
        overflow: hidden;
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.card__container {
    margin-top: 12rem;
}

@media (min-width: 768px) {
    .card__container {
        margin-top: 0;
        grid-column: 2/3;
        align-items: center;
    }
}

.card__title {
    padding-bottom: 30px;
    font-size: 3rem;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 768px) {
    .card__title {
        text-align: left;
    }
}

.card__item {
    width: 85%;
    margin: 0 auto;
    position: relative;
}

.item__title {
    font-weight: 400;
    color: hsl(237, 12%, 33%);
}

.item__title:active {
    color: hsl(14, 88%, 65%);
}

.item__image {
    position: absolute;
    top: 4px;
    right: 0px;
    transition: all .5s ease-in-out;
}

.item__description {
    color: hsl(240, 6%, 50%);
    display: none;
}

.attribution {
    display: none;
}